*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
       font-family: sans-serif;
    background-color: #F6F8F9;
}

/*navbar*/
nav{
    padding: 12px 28px;

    margin-bottom: 36px;

    background-color: white;
}
#logo{
    vertical-align:middle;
    
}
h1{
    display: inline-block;
    vertical-align: middle;
    font-size:48px;
    font-weight: bold;
}
main{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

#buttons {

    padding: 22px 48px;
    border-bottom: 2px solid #f5f7f8;
}

button {
    padding: 8px 16px;
    border-radius: 6px;
    border: 3px solid #ced3d7;
    background-color: transparent;
    color: #ced3d7;
    font-weight: bold;
}

.btn-primary {
    border-color: #47acf0;
    background-color: #47acf0;
    color: white;
}

.centre{
    padding:36px 48px;
}

.container {
    margin-bottom: 36px;
}

h2{
    color: #454952;
    font-size: 26px;}

ul{
    padding: 0;
    list-style-type: none   
}

li{
    padding: 14px;
    font-size: 22px;
}

.icon {
    display: inline-block;
    margin-right: 10px;
    height: 26px;
    width: 26px;
    border: black 1px solid;
    border-radius: 50%;
    font-size: 0.7em;
    text-align: center;
}

.check {
    color: #61BEA7;
    border-color: #61BEA7;
}

.form {
    color: #E7372F;
    border-color: #E7372F;
}

.category{
    padding: 10px 16px;
    border-radius: 16px;    
    background-color: black;
    color: white;
    font-size: 0.6em;
}

.editorial {
    background-color: #45aae9;
}
.goals {
    background-color: #9b72e3;
}
.recruiting {
    background-color: #64bfa8;
}
.mobile {
    background-color: #f19d33;
}
.website {
    background-color: #d763a0;
}
.sales {
    background-color: #afc826;
}



