*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgba(127, 255, 212, 0.34);
    font-family: sans-serif;
}

/*navbar*/
nav{
    background-color: white;
    padding-left: 40px;
    height: 80px;
}
#logo{
    width: 50px;
    height: 50px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align: text-bottom;
    
}
h1{
    display: inline-block;
    vertical-align: middle;
    line-height: 100%;
    margin-bottom: 60px;
    font-size:xx-large;
}
main{
    width: 60%;
    height: 70%;
    margin: auto;
    background-color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: start;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: rgba(127, 255, 212, 0.34) 2px solid;
    border-width: 100%;
}

.header{
    border-bottom: lightblue 1px solid;
    padding-bottom: 10px;
}


.centre{
    padding-bottom: 40px;
}
#add-task{
    color:white;
    background-color: cornflowerblue;
    padding: 5px;
    border-color:cornflowerblue ;
    border-radius: 5px;
}

#add-section{
    color: grey;
    background-color: white;
    padding: 5px;
    border-color: grey;
    border-radius: 5px;
}

/*parte centrale*/

.triangle{
    vertical-align:middle;
    margin-top: 2px;
}
h2{
    display: inline-block;
    padding-top: 20px;
}

/* h3{
    display: inline-block;
    margin-top: 20px;
    vertical-align: baseline;
    font-weight: normal;
} */
ul{
    padding: 0;
    list-style-type: none;
    
}

li{
    padding: 14px;
    font-size: 22px;

}

.check{
    display: inline-block;
    font-size:x-small;
    text-align: center;
    color: aqua ;
    border: aqua 1px solid;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.form{
    display:inline-block;
    font-size: x-small;
    text-align: center;
    color: red;
    border: red 1px solid;
    border-radius: 50%;
    width: 20px;
    height: 20px;
   
}

.category{
    border: 1px solid black;
    padding: 5px;
    border-radius: 12px;
    font-size: 12px;
}


/* .editorial{
    padding: 5px;
    color:white;
    background-color: cornflowerblue;
    border-color:cornflowerblue ;
    border-radius: 10px;
}

.q1-goals{
    padding: 5px;
    color: white;
    background-color: blueviolet;
    border-color: blueviolet;
    border-radius: 10px;
}

.recruiting{
    padding: 5px;
    color: white;
    background-color: cadetblue;
    border-color: cadetblue;
    border-radius: 10px;
}

.mobile{
    padding: 5px;
    color: white;
    background-color: rgb(254, 129, 39);
    border-color: rgb(254, 129, 39);
    border-radius: 10px;
}

.website{
    padding: 5px;
    color: white;
    background-color: hotpink;
    border-color: hotpink;
    border-radius: 10px;
}

.sales{
    padding: 5px;
    color: white;
    background-color:chartreuse;
    border-color: chartreuse;
    border-radius: 10px;
} */
    



    
